// Custom Variables
$dark: #0c1832;

// Import Bootstrap functions, variables, and mixins
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Define the new breakpoint for 'xxxl'
$grid-breakpoints: map-merge($grid-breakpoints,
    ('xxxl': 1900px,
    ));

$container-max-widths: map-merge($container-max-widths,
    ('xxxl': 1840px,
    ));

// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');